@charset "utf-8";
@import "normalize";
@import "reset";

a { color: inherit; }

.clear { clear: both; }

html {
  font-size: 62.5%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  line-height: 27px;
  color: #636363;
  padding: 60px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
}

header {
  width: 200px;
  float: left;

  img {
    max-width: 68px;
    margin-bottom: 5px;
  }
}

section {
  width: 500px;
  float: right;
}

h1 {
  margin: 0;
  font-size: 36px;
  line-height: 32px;
  color: #333;
}

p {
  margin-top: 20px;

  a {
    color: #222;
  }
}

label {
  color: #2980B9;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
  font-family: "Lucida Grande";
}

li {
  list-style: none;
  margin-top: 10px;
  display: block;

  a {
    color: #C0392B;
  }
}

.stately {
  width: 500px;
  font-size: 500px;
  color: #f0f0f0;
  margin-top: 20px;
  position: relative;
  left: -10px;
}

.stately .wa,
.stately .oh,
.stately .ny,
.stately .fl,
.stately .nc,
.stately .co,
.stately .ok {
  color: #2980B9;
}

.progress-bar {
  margin-top: 20px;
  border-radius: 99px;
  background: #f0f0f0;
  color: #666;
  text-transform: uppercase;
  overflow: hidden;
  font-size: 11px;

  span {
    float: left;
    display: block;
    padding: 0 8px;
    box-sizing: border-box;
    text-align: center;
  }

  .done {
    color: white;
    background: #2980B9;
  }

  .to-go {
    text-align: center;
  }
}

@media (max-width: 840px) {
  body {
    padding: 15px;
  }

  header, section {
    float: none;
  }

  header li {
    display: none;
  }

  section {
    margin-top: 15px;
  }
}
